* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: #f4f4f4;
    color: #333333;
    font-family: sans-serif;
    font-size: 1.6rem;
}

.full-container {
    position: relative;
    height: 100%;
}

header {
    font-size: 2.3rem;
    color: #000;
    font-weight: 500;
}

nav {
    border-right: 4px solid gray;
    position: fixed;
    height:100%;
    width: 30rem;
}

nav header {
    padding: 1.5rem 0 2rem 2rem;
    font-size: 3rem;
}
nav ul {
    list-style: none;
    line-height: 2.5rem;
}

nav ul li {
    border-top: 1.5px solid grey;
    padding-left: 2rem;
    font-size: 1.9rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    opacity: 0.8;
}

#main-doc {
    position: absolute;
    left: 32rem;
    padding: 2.5rem 0.5rem 0 1rem;
}

#main-doc header {
    font-size: 3rem;
    margin: 2rem 0 0rem 2rem;
    text-transform: capitalize;
}

#main-doc section:first-of-type header {
    margin-top: 0;
}

.lowercase {
    text-transform: none;
}

#main-doc p {
    margin: 2rem 0 2rem 4rem;
    line-height: 2.2rem;

}

#main-doc ul {
    margin-left: 9rem;
}

#main-doc ul li {
    margin-bottom: 1.5rem;
    line-height: 2.1rem;
}

code {
    display: block;
    margin-left: 6rem;
    width: 89%;
    padding: 1.4rem 0.8rem;
    background-color: rgba(202, 214, 214, 0.5);
    font-family: monospace;
}

#main-doc section:last-of-type ul li {
    margin-top: 2rem;
}

@media (max-width: 760px) {
    .full-container {
        position: static;
    }

    #main-doc {
        position: static;
    }

    nav header {
        text-align: center;
    }

    nav {
        height: auto;
        position: static;
        width: 100%;
        border-bottom: 3px solid darkslategray;
        border-right: 1px solid darkslategray;
    }
}

